/.mypy_cache
/confusion_matrices
/data
/mlruns
/snelled_requirements.txt
/tmp_gradcam
/venv
/.venv
*.pth
/learning_curves/*
/__pycache__
*.pyc
*.pyo
*.pyd
learning_curves*.png
*.png
*.out
lightning_logs/*
runs/*
pretrained_weights/*
*.csv
*.xlsx