/.mypy_cache
/confusion_matrices
/data
/mlruns
/snelled_requirements.txt
/tmp_gradcam
/images
/venv
/.venv
*.pth
/learning_curves/*
latex_tables/*
/latex_tables/*
/__pycache__
*.pyc
*.pyo
*.pyd
learning_curves*.png
*.png
*.out
lightning_logs/*
runs/*
pretrained_weights/*
*.csv
*.xlsx
/notebooks/latex_tables/*
/notebooks/*.csv
/notebooks/*.xlsx
/notebooks/*.png
thesis_docs/*
.github/*
.cursor/*
./notebooks/last_analysis/*
notebooks/mlflow_results_merged.csv
classes/__pycache__/NestedCVStratifiedByPatient.cpython-312.pyc
classes/__pycache__/ModelManager.cpython-312.pyc
style/thesis_style.mplstyle
notebooks/per_tesi.ipynb
notebooks/last_analysis.ipynb
style/*
notebooks/mlflow_data_analysis.ipynb
notebooks/image_data_analysis.ipynb

txt_files/*
train_pretrained.pynotebooks/image_data_analysis.ipynb
