# configs/simclr_densenet_3c.yaml
dataset:
  unlabeled_subdir: PRETRAINING_MSA_VS_PD   # relative to $DATA_ROOT

model:
  backbone_library: torchvision             # or "monai"
  in_channels: 3
  input_size: 256                           # image crop/resize used in SimCLRTransform
  proj_hidden_dim: 512                      # hidden dim of the projection MLP
  proj_output_dim: 128                      # output dim of the projection MLP

training:
  batch_size: 256
  num_workers: 4
  num_epochs: 120
  lr: 3e-4
  temperature: 0.07

output:
  weights_path: /leonardo_work/pMI24_EleBr_1/lzanotto/FOLDER_CINECA/pretrained_encoders/simclr_d121_3c.pth
